<h1>hola </h1>


{% schema %}

{

  "name": "gato",

  "tag": "section",

  "class": "slideshow",

  "settings": [

    {

      "type": "text",

      "id": "title",

      "label": "Slideshow"

    }

  ],

  "blocks": [

     {

       "name": "Slide",

       "type": "slide",

       "settings": [

         {

           "type": "image_picker",

           "id": "image",

           "label": "Image"

         }

       ]

     }

   ]

}

{% endschema %}